```{=html}

<div class="list grid">

<% for (const item of items) { %>

  <div class="card listing-card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%= metadataAttrs(item) %>>
    
    <div class="card-body">
    <a href="<%- item.href %>">
      <img src="<%- item.image %>" alt="<%- item.description %>" class="card-img-top"/>
    </a>
    
    
      <a href="<%- item.href %>" class="listing-title"><%= item.pagetitle %></a>
      <p class="listing-subtitle"><%= item.subtitle %></p>
      <p class="listing-description"><%= item.subtitle %></p>
    </div>
    
    
    <div class="card-footer">
        <p class="listing-date"><%= item.date %></p>
    </div>
    
  </div>

<% } %>

</div>

```