```{=html}


<div class="list grid">

<% for (const item of items) { %>

  <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%= metadataAttrs(item) %>>
    
    <a href="<%- item.href %>">
      <img src="<%- item.image %>" alt="<%- item.description %>" class="card-img-top" style="vertical-align: middle;"/>
    </a>
    
    <div class="card-footer py-1 px-2 border-bottom border-1 bg-light">
    
      <small class="card-text inline-block gallery-footer">
        <a href="<%- item.href %>" class="listing-title"><%= item.pagetitle %></a>
      </small>
      
      <br>
      
      <small class="card-text inline-block gallery-footer">
        <span class="text-muted listing-subtitle"><%= item.subtitle %></span>
        <br>
        <span class="text-muted listing-date"><%= item.date %></span>
      </small>
    </div>
    
  </div>

<% } %>

</div>

```