```{=html}
<div class="container-md">

  <div class="row hero-row shadow pb-0 mb-2 position-relative">
  
    <% let item = items[1]; { %>
      <div class="container col-12 col-md-12 col-lg-11 col-xxl-10 px-4 py-2">
        <div class="row">
          <div class="col justify-content-center">
            <h1 class="display-5 fw-bold lh-1 mb-3 text-primary text-center"> <%=item.pagetitle%> </h1>
            <h3 class="text-primary m-0 p-0 text-center"> <%=item.subtitle%> </h3>
          </div>
        </div>
        <div class="row flex-lg-row-reverse align-items-center g-1 pb-0">
          <div class="col-md-12 col-lg-6 col-xl-6 col-xxl-6 mx-auto">
            <img src="<%=item.image%>" class="d-block mx-lg-auto img-fluid px-1 mx-1" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-md-12 col-lg-6 col-xl-6 col-xxl-6 mx-auto">
            <p class="lead text-muted text-break fs-6 px-2 mx-2"> <%=item.description%> </p>
          </div>
        </div>
      </div>
      <a href="<%=item.href%>" class="stretched-link"></a>
    <% } %>
  </div>
  
  <div class="row">
    <% for (let i = 2; i < items.length; i++) { %>

      <div class="col-md-4 p-0 d-flex">
        <div class="card listing-card shadow-sm border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2">
          <img src="<%=items[i].image%>" class="card-img-top mb-0 pb-0">

          <div class="card-body">
            <h3 class="text-primary m-0 p-0"> <%=items[i].pagetitle%> </h3>
            <div class="mb-1 text-muted"> <%=items[i].date%> </div>
            <p class="card-text mb-auto text-muted"> <%=items[i].subtitle%> </p>
            <a href="<%=items[i].href%>" class="stretched-link" style="text-decoration:none;"></a>
          </div>
        </div>  
      </div>
      
    <% } %>
  </div>
</div>
```