```{=html}


<div class="list grid">

<% for (const item of items) { %>

  <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%= metadataAttrs(item) %>>
    
    <div class="card-header py-1 px-2 border-bottom border-1 bg-light">
    
      <small class="card-text inline-block">
        <a href="<%- item.href %>" class="listing-title"><%= item.pagetitle %></a><br> <span class="text-muted listing-subtitle"><%= item.subtitle %></span>
      </small>
    
    </div>
    
    <a href="<%- item.href %>">
      <img src="<%- item.image %>" alt="<%- item.description %>" class="card-img-top" style="vertical-align: middle;"/>
    </a>
    
    
  </div>

<% } %>

</div>

```